{% extends "base.html" %}
{% block content %}

<h2>Dashboard! {{user}}</h2>
<br>
<a href="/notes/logout/">Logout</a>
<br>
<table>
  <tr>
    <td>
      <form name="notesUpdateForm" action="/notes/dashboard/" method="post">{% csrf_token %}
        {{formset.management_form}}
          {% for form in formset %}
          {{form.id}}
          {{form.title}}
          {{form.text}}
          {{form.createTime}}
          {{form.DETELE}}
        	<br>
        {% endfor %}
      <input type="submit" value="Update">
    </td>
  </tr>
</table>

{% endblock %}
